@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--background-color: #fef7ff;
	--background-dim-color: #ded8e1;
	--container-lowest-bg-color: #ffffff;
	--container-low-bg-color: #f7f2fa;
	--container-bg-color: #f3edf7;
	--container-high-bg-color: #ece6f0;
	--container-highest-bg-color: #e6e0e9;
	--font-color: #1c1b1f;
}

* {
	font-family: 'Poppins';
	scrollbar-width: auto;
	scrollbar-color: #36343b rgba(0, 0, 0, 0);

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: rgba($color: #000000, $alpha: 0);
	}

	&::-webkit-scrollbar-thumb {
		background-color: #36343b;
		border-radius: 20px;
	}
}

#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	@media screen and (max-width: 768px) {
		height: 100dvh;
	}

	&.isLoading {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
}

.loading {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--primary-color);

	@media screen and (max-width: 768px) {
		height: 100dvh;
	}

	.loader {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: inline-block;
		border-top: 3px solid var(--font-color);
		border-right: 3px solid transparent;
		box-sizing: border-box;
		animation: rotation 1s linear infinite;
	}

	@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

button {
	width: fit-content;
	background-color: var(--background-color);
	border: none;
	border-radius: 0.5rem;
	padding: 1rem 2rem;

	font-size: 1rem;
	font-weight: 600;

	cursor: pointer;

	transition: all;
	transition-duration: 300ms;

	color: var(--font-color);

	&:hover {
		background-color: var(--background-dim-color);
	}
}